body{
    background-color: rgb(220, 205, 182);
}
li {
    list-style: none;
    text-align: center;
}

a {
    text-decoration: none;
}

.divstyle {
    float: left;
    margin-left: 17%;
    margin-right: 10%;
}


.ulsy {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00CED1;
}

.lisy {
    float: left;
}

.lisy a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.lisy a:hover {
    background-color: rgb(14,17,16,0.2);
}



.phdiv {
    text-align: center;
    margin-top: 3%;

}

.showdiv {
    font-size: 30px;
}

.hotdiv {
    font-size: 30px;
    text-align: center;
}

h3 {
    text-align: left;
    margin-left: 2%;
}


.card {
    height: 25%;
    width: 60%;
    background: #DB7093;
    margin-top: 5%;
}

.tag {
    float: left;
    height: 25%;
    width: 30%;
    background-color: aqua;
}

span {
    width: 90%;
    height: 25%;
    background-color: rgb(99, 226, 162);
    display: inline-block;
    margin: 35px;
}



.jinqi {
    margin: 10px;
    background-color: #90EE90;
    width: 25%;
    height: 800px;
    float: right;
}

.jinqi2 {
    margin: 10px;
    background-color: #90EE90;
    width: 25%;
    height: 600px;
    float: right;
}



.jinqi div a {
    font-size: 17px;
    font-weight: bold;
}

.block {
    width: 70%;
    background-color: blanchedalmond;
    margin: 10px;
    height: 800px;
    float: left;}

.knowledgespanfont {
    font-size: 20px;
    font-weight: bolder;
}

.selectbutton {
    height: 50px;
    width: 90px;
    margin: 3px;
}
.buttondiv {
    margin-top: 5%;
    text-align: left;
}

.formdiv {
    margin-top: 5px;
    text-align: center;
}
.inputlook {
    height: 25px;
    width: 200px;
}
.textlook {
    height: 500px;
    width: 600px;
}

.labellook {
    font-size: 16px;
    margin-right: 10px;
}
.selectlook {
    height: 30px;
    width: 100px;
}

.selectlook2 {
    height: 40px;
    width: 150px;
}

.calbutton {
    height: 35px;
    width: 80px;
    margin: 3px;
}

.answer {
    display: inline-table;
    
}

.tabletext .answer tr td{   
    text-align: center;
    border: 2px solid #00CED1;
    font-size: 20px;
}

.tabletext {
    text-align: center;
}
.result{
    float: right;
    font-weight: bolder;
    font-size: 25;
    margin-bottom: 3%;
    margin-right: 17.5%;
}

.selected {
    background-color: #90EE90;
}

.floatform {
    float: left;
    margin-left: 12%;
    margin-top: 3%;
}

.formbutton{
    float: right;
    text-align: center;
    margin-top: 2px;
}

.passagediv {
    width: 90%;
    height: auto;
    margin: auto;
    background-color: rgb(254, 238, 215);
    text-align: center;
}

.title{
    font-size: 30px;
    font-weight: 800;
    padding-top: 2%;
}
.content{
    width: 90%;
    font-size: 20px;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
    word-break:break-all
}

.mydiv {
    width: 200px;
    height: 200px;
    background-color: rgba(129, 212, 198, 0.3);
    position: absolute;
}
.none {
    display: none;
}
.bigdiv {
    width: 600px;
    height: 1000px;
    background-color: rgb(188, 214, 139);
}

