<div class="passagediv">
                <h1>
                    <%=title%>
                </h1>
                <p class="content">
                    <%=content%>
                </p>
</div>
</div>