<ul class="ulsy">
    <li class="lisy"><a class="active" href="index.html">主页</a></li>
    <li class="lisy"><a href="knowledge.html">房贷知识</a></li>
    <li class="lisy"><a href="sheng.html">各省房贷政策</a></li>
    <li class="lisy"><a href="cal.html">计算器</a></li>
    <li class="lisy"><a href="#contact">帮助</a></li>
    <li class="lisy"><a href="#about">关于</a></li>
</ul>