<!-- <div class="bigdiv">
    <% var i; %>
        <% for (i=0; i<province.length; i++) { %>
            <% if(province[i].provinceName == tag) {%>

                <h1>
                    <%=province[i].provinceName+"省房贷政策"%>
                </h1>
                <p>
                    <%=province[i].policy %>
                </p>

                <% break; %>
                <% } %>
                    <% } %>
</div>
</div>



<div class="passagediv">
    <p class="title">银行全面收紧房贷 购房者刚需被误伤</p>
    <p class="content">
        12月27日，江苏省住房和城乡建设厅召开新闻发布会，解读了新近出台的《省政府办公厅关于加快发展保障性租赁住房的实施意见》（以下简称《实施意见》）明确，“十四五”期间，江苏将新增保障性租赁住房供给50万套（间）以上；其中，南京、苏州作为人口净流入最多的两个大城市，新增保障性租赁住房须占新增住房供应总量的30%。新增50万套保障性租赁住房，解决“新市民、青年人”“买不起房、租不好房”问题江苏省住房和城乡建设厅副厅长范信芳在新闻发布会上说：“2020年江苏常住人口城镇化率已达73.44%，大量新市民涌向城市，城市特别是大城市住房价格普遍偏高，新市民、青年人的承受能力普遍偏低，“买不起房、租不好房”的问题比较突出。多年来，我省住房保障主要依靠政府投入，重点保障的是城镇户籍低保、低收入、中等偏下收入住房困难家庭，对新市民、青年人保障力度有限。相关调查显示，我省新市民和青年人约70%在市场租房居住。但市场租赁住房结构性供需错配明显，主要表现在：在户型上，大户型房源供大于求，小户型房源供不应求，难以满足新市民、青年人等群体的租住需求；在价格上，高价位房源供大于求，低租金房源供不应求，超出了新市民、青年人等群体的承受能力……“《实施意见》的出台，将进一步强化对新市民、青年人等群体的住房保障。”范信芳表示，保障性租赁住房套型面积小、租金低、租赁期稳定，同时要求职住平衡，其可以让租赁市场结构性供应不足情况得到明显改善。”据悉，整个“十四五”期间，江苏全省新增保障性租赁住房供应50万套（间）以上，以建筑面积不超过70平方米的小户型为主。《实施意见》明确的新市民、青年人两类群体具体又包括哪些人？江苏省住房和城乡建设厅保障与住房改革处处长唐宏彬解释，新市民主要是指非户籍常住人口，青年人则是新落户的新就业大学生。两类群体申请时不设收入线门槛，主要考量他们在本地是否有房。保障性租赁住房主要利用存量土地建设，闲置商业和工业用房均可改建50万套（间）的房源从何而来？《实施意见》坚持“谁投资、谁所有”，明确除了政府投资包括国有平台公司以外，农村集体经济组织、企事业单位、园区企业、房地产开发企业、住房租赁企业等各类市场主体，均可参与保障性租赁住房建设和运营管理，同时政府给予政策支持。《实施意见》明确的保障性租赁住房的5种建设方式中，有3种方式是利用存量土地建设，1种方式是利用闲置的商业和工业用房改建，1种方式是适当利用新供应国有建设用地建设。在回答记者提问时，江苏省住房和城乡建设厅保障与住房改革处副处长黄清说：“为什么要以存量土地和存量房屋为主建设保障性租赁住房？现阶段市场租售比不合理，房地产开发企业一般只愿意建房出售，而不愿意建房出租。实现“租户可负担、企业可持续”的要求，更重要的是要降低保障性租赁住房的建设成本，利用集体经营性建设用地和产业园区配套用地建设，土地可以不花钱或花少量的钱；利用企事业单位自有闲置土地和非居住存量房屋建设，《实施意见》也明确规定其可以不补交土地价款，土地也不用花钱，这些都能够极大降低保障性租赁住房的建设成本。另外，存量土地和存量房屋主要在主城区范围内，或者在新市民、青年人比较多的产业园区内，利用存量土地和存量房屋建设，可以把保障性租赁住房建在有需求的地段，更有利于实现职住平衡。”多重政策支持，保障性租赁住房租金须低于周边市场价格让更多市场主体加入保障性租赁住房，除了土地支持政策，《实施意见》也明确了税费减免和民用水电气等优惠政策。在税费减免方面，住房租赁企业向个人出租保障性租赁住房，可适用简易计税方法，增值税由5％减按1.5%缴纳。而凡利用非居住存量土地和非居住存量房屋建设保障性租赁住房并取得认定后，水、电、气价格均按照居民标准执行。“租金”是租房族们最关心的关键词。《实施意见》明确：应低于同地段同品质市场租赁住房租金，低多少并未作具体规定。“保障性租赁住房投资运营主体较多，租金标准的确定必须兼顾租户可承担和企业可持续两方面的因素。但市场主体享受了土地、税费等一系列优惠政策后，其租金必须低于市场租金。在这一重要前提下，租金标准将由我省各地根据本地实际情况确定。”唐宏彬介绍。
    </p>
    <pre></pre>
</div> -->


<div class="passagediv">
    <% var i; %>
        <% for (i=0; i<province.length; i++) { %>
            <% if(province[i].provinceName == tag) {%>

                <h1>
                    <%=province[i].provinceName %>
                </h1>
                <p class="content">
                    <%=province[i].policy %>
                </p>

                <% break; %>
                <% } %>
                    <% } %>
</div>
</div>