
    <% for (var i=0; i<title.length; i++) { %>
    <span>
        <h2><a href="/post/<%=link[i]%> "><%= title[i] %></a></h2>
        <p class="knowledgespanfont">
            <%= content[i] %>
        </p>
    </span>

    <% } %>

